numpy~=1.26.4
cellpose~=3.1.0
tifffile~=2024.8.30
setuptools~=75.1.0
napari~=0.5.4
qtpy~=2.4.2
yaml~=0.2.5
pyyaml~=6.0.2
scikit-image~=0.24.0
networkx~=3.2.1
scipy~=1.13.1
matplotlib~=3.9.3
tqdm~=4.67.1
qtrangeslider~=0.1.5